main.pdf
*.aux
*.log
*.blg
*.bbl
*.fdb_latexmk
*.out
*.fls
*.loc
*.soc
*.synctex.gz
*.swp
*.swo
*.zip
*.pyc

#MacOS System Files
*.DS_Store

datasets/synt/*
experiments/experiment_results/*

# Not exclude
!datasets/synt/synt_sample_generator.py
!experiments/experiment_results/rl_finance_cpu_results.txt
!experiments/experiment_results/rl_google_cpu_results.txt
